@import url(../style/reset.css);
@media (max-width: 768px) {
  .left-side {
    display: none !important;
  }
  .right-side {
    width: 100% !important;
  }
  .right-side .container {
    padding: 1em;
  }
}
/*Variáveis*/
:root {
  --green: #04c35c;
  --blue: #2b6cb0;
  --white: #ffffff;
  --white300: #f7fafc;
  --dark: #1a202c;
  --input: #e8e8e8;
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../assets/font/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../assets/font/Merriweather-Regular.ttf);
}
a,
button {
  cursor: pointer;
}
.left-side,
.right-side {
  width: 50%;
  height: 100vh;
}
.left-side {
  float: left;
  background-color: var(--white300);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side .img {
  height: 400px;
  width: 330px;
}
.right-side {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side .container {
  width: 400px;
  height: auto;
}
.right-side .container p,
.right-side .container h2 {
  font-family: "Merriweather";
  text-align: left;
  color: var(--dark);
}
.right-side .container p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.right-side .container h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1.5em;
}
.right-side .container form .form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
.right-side .container form .form-group .label-info {
  color: var(--dark);
  font-family: "Lato-Regular";
  font-size: 1em;
  align-self: flex-start;
  padding-bottom: 0.5em;
}
.right-side .container form .form-group input {
  border: 1px solid var(--input);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 1em ;
}
.right-side .container form .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.2em;
}
.right-side .container form .options .check {
  display: flex;
}
.right-side .container form .options .check input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--input);
  border-radius: 50%;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.right-side .container form .options .check input[type="checkbox"]::before {
  position: absolute;
  content: '';
  display: block;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 9px;
  border-style: solid;
  border-color: var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.right-side .container form .options .check input[type="checkbox"]:checked {
  color: var(--white);
  border-color: var(--green);
  background: var(--green);
}
.right-side .container form .options .check input[type="checkbox"]:checked::before {
  opacity: 1;
}
.right-side .container form .options .check label {
  color: var(--dark);
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 1em;
  padding-left: 0.5em;
}
.right-side .container form .options a {
  color: var(--blue);
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 1em;
}
.right-side .container form .buttons button {
  height: 50px;
  width: 100%;
  color: var(--white);
  font-family: "Lato-Bold";
  text-align: center;
  padding: 1em;
  font-size: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.right-side .container form .buttons .login {
  background-color: var(--green);
}
.right-side .container form .buttons .account {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.right-side .container form .buttons .account .icon-g {
  background-image: url(../assets/img/iconfinder.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20px;
  width: 20px;
}
.right-side .container .noAccount {
  font-size: 1em;
  font-family: "Lato-Regular";
  font-weight: 400;
  color: var(--dark);
  text-align: center;
}
.right-side .container .noAccount a {
  color: var(--blue);
}
